@media (max-width: 360px) {
  /* Header start */
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    padding: 0 10vw;
    position: fixed;
    z-index: 999999;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .header__logo {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
  }
  .header__menu--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header__menu--list {
    display: none;
    position: fixed;
    list-style: none;
    width: 100vw;
    height: 100vh;
  }
  .header__menu--items {
    margin-bottom: 1.3em;
  }
  .header__menu--items > a {
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #edf2f4;
    text-decoration: none;
  }
  header > span {
    display: flex;
    justify-content: right;
    text-align: right;
  }
  /*Header end*/
  /*First section*/
  .container__section--first {
    background-image: url("../img/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #edf2f4;
    font-family: "Cherry Swash", cursive;
  }
  .section__first--masque > h1 {
    font-size: 2em;
    font-family: "Cherry Swash", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .section__first--masque p {
    font-size: 0.8em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
  .section__first--masque {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #edf2f4;
  }
  /*First section end*/
  /* Presentation section start */
  .container__section--third {
    width: 100%;
    padding: 100px 0 0 0;
  }
  .section--presentation-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .card--presentation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
  }
  .card--presentation.disable {
    display: none;
  }
  .presentation--details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  /* Presentation section end */
  /*Second section*/
  .container__section--second {
    width: 100%;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .section__second--all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__second--all button a {
    color: #2b2d42;
    text-decoration: none;
  }
  /*Second section end */
  aside {
    display: none;
  }
  #singlecours,
#contact,
#association,
#legals {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #singlecours .single-cours-container,
#contact .single-cours-container,
#association .single-cours-container,
#legals .single-cours-container {
    width: 100%;
    align-items: center;
    padding: 100px 10px 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #singlecours .cards,
#contact .cards,
#association .cards,
#legals .cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    box-shadow: none;
    margin-bottom: 30px;
  }
  #singlecours .card-information-cour,
#contact .card-information-cour,
#association .card-information-cour,
#legals .card-information-cour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #singlecours .description-cours-li,
#contact .description-cours-li,
#association .description-cours-li,
#legals .description-cours-li {
    display: flex;
    align-items: center;
    padding: 0 0 1em 0;
  }
  #singlecours .description-cours-li .cours-li-result,
#contact .description-cours-li .cours-li-result,
#association .description-cours-li .cours-li-result,
#legals .description-cours-li .cours-li-result {
    display: flex;
    align-items: center;
    text-align: center;
  }
  #singlecours .description-cours-li .cours-li-result > img,
#contact .description-cours-li .cours-li-result > img,
#association .description-cours-li .cours-li-result > img,
#legals .description-cours-li .cours-li-result > img {
    margin-bottom: 0;
  }
  #singlecours .description-cours-li > span,
#contact .description-cours-li > span,
#association .description-cours-li > span,
#legals .description-cours-li > span {
    text-align: left;
    margin-left: 1em;
  }
  #singlecours .description-cours-li > span.cours-li-result, #singlecours .description-cours-li > span a,
#contact .description-cours-li > span.cours-li-result,
#contact .description-cours-li > span a,
#association .description-cours-li > span.cours-li-result,
#association .description-cours-li > span a,
#legals .description-cours-li > span.cours-li-result,
#legals .description-cours-li > span a {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #singlecours .img-cards,
#contact .img-cards,
#association .img-cards,
#legals .img-cards {
    width: 100%;
    height: 30vh;
    background-image: url("../img/image8.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  #singlecours .field,
#contact .field,
#association .field,
#legals .field {
    flex-direction: column;
    display: flex;
  }
  #singlecours .field > label,
#contact .field > label,
#association .field > label,
#legals .field > label {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 360px) {
  .header {
    width: 100%;
    height: 8vh;
    padding: 0 10vw;
    position: fixed;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F2F2F2;
    background-color: rgb(43, 45, 66);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .header__menu--list {
    display: flex;
    list-style: none;
  }
  .header__menu--items > a {
    margin-right: 1.5em;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #edf2f4;
    text-decoration: none;
  }
  header > span {
    display: none;
  }
}
.footer {
  width: 100%;
  padding: 100px 0;
  background-color: #2b2d42;
}
.footer .footer__header {
  margin-bottom: 30px;
  text-align: center;
}
.footer .footer__header > p, .footer .footer__header h2 {
  color: #edf2f4;
}

aside {
  width: 20vw;
  height: auto;
  padding: 100px 20px;
}

.section__second--card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}
.section__second--card-container .cards {
  width: 300px;
  height: 320px;
  margin: 0.5em;
  flex-direction: column;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.section__second--card-container .cards-top {
  width: 100%;
}
.section__second--card-container .cards-top > h3 {
  padding-top: 0.5em;
}
.section__second--card-container .cards-center {
  width: 100%;
}
.section__second--card-container .cards-center.description-cours-li {
  list-style-type: none;
}
.section__second--card-container .cards-bottom {
  width: 100%;
}
.section__second--card-container .cards-bottom.cards-bottom button a {
  color: #2b2d42;
  text-decoration: none;
}

.formulaire {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.toolbar {
  text-align: center;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
}

legend {
  padding: 0 1em;
  text-transform: uppercase;
}

.field {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0.5em;
}

.field label {
  width: 30%;
}

.field .value {
  width: 80%;
  margin-right: 3%;
}

.field input {
  width: 100%;
}

input:focus {
  outline: none !important;
  border-bottom: 20px solid;
  border-color: #edf2f4;
}

textarea:focus {
  outline: none !important;
  border-bottom: 4px solid;
  border-color: #edf2f4;
}

label {
  font-weight: 600;
  padding: 0;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type*=date],
select,
object,
textarea {
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.3em;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: rgba(255, 255, 255, 0);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type*=date]:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 3px solid #E9E9E9;
}

object > option:focus {
  outline: none !important;
  border-bottom: 3px solid;
  background-color: rgba(255, 255, 255, 0);
}

select,
textarea {
  width: 100%;
}

textarea {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  min-height: 10em;
}

#query {
  resize: vertical;
}

/*////////////////// AUTOCOMPLETE //////////////////*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid #2b2d42;
  -webkit-text-fill-color: #2b2d42;
  -webkit-box-shadow: 0 0 0px 1000px rgba(29, 29, 29, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* CSS */
.button-4 {
  max-width: 200px;
  margin: 15px 0 15px 0;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #2b2d42;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4 a {
  font-size: 12px;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav-letter {
  margin-bottom: 30px;
}
.nav-letter h3 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-letter .nav-letter-ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.nav-letter .nav-letter-li {
  margin-left: 3px;
  list-style-type: none;
}
.nav-letter .nav-letter-li > a {
  color: #2b2d42;
  text-decoration: none;
}

.nav__section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.nav__section > .button-4 {
  margin: 0.5em;
}

* {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #2b2d42;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf2f4;
}
.container section {
  width: 100%;
  height: auto;
}
.container .description-cours-li {
  list-style-type: none;
}
.container h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container h3 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.container p {
  text-align: justify;
  margin-bottom: 8px;
}
.container a {
  color: #2b2d42;
  text-decoration: none;
}
.container img {
  margin-bottom: 30px;
}

/*First section*/
#dashboard {
  /*First section end*/
  /*Second section*/
  /*Lessons cards end*/
  /*Second section end*/
}
#dashboard .container__section--first {
  background: linear-gradient(to top right, #7c89d5, #f599a5);
}
#dashboard .section__first--masque {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
#dashboard .section__first--masque h1 {
  font-size: 5vw;
  color: #edf2f4;
}
#dashboard .section__first--masque p {
  font-size: 2.5vw;
  color: #edf2f4;
}
#dashboard .container__section--second {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#dashboard .container__section--second > h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

#allcours {
  /*Second section*/
}
#allcours .container__section--second {
  width: 90%;
  display: flex;
  height: auto;
  padding: 100px 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 360px) {
  .container {
    /*First section*/
    /*First section end*/
    /*Presentation start */
    /* Presentation end */
  }
  .container .container__section--first {
    background-image: url("../img/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #2b2d42;
    font-family: "Cherry Swash", cursive;
  }
  .container .section__first--masque > h1 {
    font-size: 68px;
    font-family: "Cherry Swash", cursive;
    font-weight: 700;
    font-style: normal;
    color: #edf2f4;
  }
  .container .section__first--masque p {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #edf2f4;
  }
  .container .section__first--masque {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #edf2f4;
  }
  .container .container__section--third {
    width: 90%;
    padding: 100px 0;
  }
  .container .section--presentation-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .container .card--presentation {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
  }
  .container .card--presentation .disable {
    display: flex;
  }
  .container .presentation--details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 361px) {
  #singlecours,
#contact,
#association {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #singlecours .single-cours-container,
#contact .single-cours-container,
#association .single-cours-container {
    width: 60vw;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }
  #singlecours .section__second--card-container,
#contact .section__second--card-container,
#association .section__second--card-container {
    justify-content: left;
  }
  #singlecours .cards,
#contact .cards,
#association .cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    box-shadow: none;
    margin-bottom: 30px;
  }
  #singlecours .card-information-cour,
#contact .card-information-cour,
#association .card-information-cour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #singlecours .description-cours-li,
#contact .description-cours-li,
#association .description-cours-li {
    display: flex;
    padding: 0 0 1em 1em;
  }
  #singlecours .description-cours-li .cours-li-result,
#contact .description-cours-li .cours-li-result,
#association .description-cours-li .cours-li-result {
    display: flex;
    align-items: center;
  }
  #singlecours .description-cours-li .cours-li-result > img,
#contact .description-cours-li .cours-li-result > img,
#association .description-cours-li .cours-li-result > img {
    margin-bottom: 0;
  }
  #singlecours .description-cours-li > span,
#contact .description-cours-li > span,
#association .description-cours-li > span {
    text-align: left;
    margin-left: 1em;
  }
  #singlecours .description-cours-li > span.cours-li-result, #singlecours .description-cours-li > span a,
#contact .description-cours-li > span.cours-li-result,
#contact .description-cours-li > span a,
#association .description-cours-li > span.cours-li-result,
#association .description-cours-li > span a {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #singlecours .img-cards,
#contact .img-cards,
#association .img-cards {
    width: 100%;
    height: 30vh;
    background-image: url("../img/image8.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  #singlecours .imgtwo,
#contact .imgtwo,
#association .imgtwo {
    background-image: url("../img/image9.jpg");
  }
  #singlecours img,
#contact img,
#association img {
    margin-right: 0.5em;
  }
  #singlecours iframe,
#contact iframe,
#association iframe {
    padding: 0 0 1em 1em;
  }
}
#ordercours {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#ordercours .ordered-cours-container {
  width: 60vw;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#ordercours .card-results {
  margin: 1em 0;
  padding: 1em;
}
#ordercours .li-cours-results {
  list-style-type: none;
  text-align: center;
  margin: 5px 0;
}
#ordercours .li-cours-results > a {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
#ordercours .li-cours-results > a:hover {
  border-bottom: 2px solid #2b2d42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f4;
  font-family: "Raleway", sans-serif;
  color: #2b2d42;
}

.logo {
  font-family: "Cherry Swash", cursive;
  font-size: 1.5em;
  font-weight: 600;
  color: #edf2f4;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
