@media (max-width: 400px) {
  /* Header start */
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    padding: 0 10vw;
    position: fixed;
    z-index: 999999;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .header__logo {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
  }
  .header__menu--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header__menu--list {
    display: none;
    position: fixed;
    list-style: none;
    width: 100vw;
    height: 100vh;
  }
  .header__menu--items {
    margin-bottom: 1.3em;
  }
  .header__menu--items > a {
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #edf2f4;
    text-decoration: none;
  }
  header > span {
    display: flex;
    justify-content: right;
    text-align: right;
  }
  /*Header end*/
  /*First section*/
  .section--first {
    background-image: url("../img/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #2b2d42;
    font-family: "Cherry Swash", cursive;
  }
  .first--masque > h1 {
    font-size: 2em;
    font-family: "Cherry Swash", cursive;
    font-weight: 700;
    font-style: normal;
    color: #edf2f4;
  }
  .first--masque p {
    font-size: 0.8em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #edf2f4;
  }
  .first--masque {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #edf2f4;
  }
  /*First section end*/
  /* Presentation section start */
  .section--second {
    width: 100%;
    padding: 100px 0 0 0;
  }
  .section--article {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .article--details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
  }
  .disable {
    display: none;
  }
  .article--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  /* Presentation section end */
  /*Second section*/
  .section--third {
    width: 100%;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section__second--all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section--third button a {
    color: #2b2d42;
    text-decoration: none;
  }
  /*Second section end */
  aside {
    display: none;
  }
  #aside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #aside .section--second {
    width: 100%;
    align-items: center;
    padding: 100px 10px 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #aside .cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    box-shadow: none;
    margin-bottom: 30px;
  }
  #aside .card-information-cour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #aside .description-cours-li {
    display: flex;
    align-items: center;
    padding: 0 0 1em 0;
  }
  #aside .description-cours-li .cours-li-result {
    display: flex;
    align-items: center;
    text-align: center;
  }
  #aside .description-cours-li .cours-li-result > img {
    margin-bottom: 0;
  }
  #aside .description-cours-li > span {
    text-align: left;
    margin-left: 1em;
  }
  #aside .description-cours-li > span.cours-li-result, #aside .description-cours-li > span a {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #aside .img-cards {
    width: 100%;
    height: 30vh;
    background-image: url("../img/image8.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  #aside .field {
    flex-direction: column;
    display: flex;
  }
  #aside .field > label {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 360px) {
  .header {
    width: 100%;
    height: 8vh;
    padding: 0 10vw;
    position: fixed;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F2F2F2;
    background-color: rgba(43, 45, 66, 0.8);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .header__menu--list {
    display: flex;
    list-style: none;
  }
  .header__menu--items > a {
    margin-right: 1.5em;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #edf2f4;
    text-decoration: none;
  }
  header > span {
    display: none;
  }
}
.footer {
  width: 100%;
  padding: 100px 0;
  background-color: #2b2d42;
}
.footer .footer__header {
  margin-bottom: 30px;
  text-align: center;
}
.footer .footer__header > p, .footer .footer__header h2 {
  color: #edf2f4;
}

aside {
  width: 20vw;
  height: auto;
  padding: 100px 20px;
}

.section__cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}
.section__cards .cards {
  width: 300px;
  height: 400px;
  margin: 0.5em;
  flex-direction: column;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.section__cards .cards .img-cards {
  background-image: url("../img/image11.jpg");
  margin-right: 0.5em;
}
.section__cards .cards .cards__top {
  width: 100%;
}
.section__cards .cards .cards__top > h3 {
  padding-top: 0.5em;
}
.section__cards .cards .cards__center {
  width: 100%;
}
.section__cards .cards .cards__center .cards__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__cards .cards .cards__center .cards__ul .cards__li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.section__cards .cards .cards__center .cards__ul .cards__li > a {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.section__cards .cards .cards__center .cards__ul .cards__li > .li__result {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.section__cards .cards .cards__center .cards__ul .cards__li > .li__result > a {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.section__cards .cards .cards__center .cards__ul .cards__li > .li__result > img {
  margin-bottom: 0;
}
.section__cards .cards .cards__center .cards__ul .cards__li > span {
  text-align: left;
  margin-left: 10px;
}
.section__cards .cards .cards__bottom {
  width: 100%;
}
.section__cards .cards .cards__bottom > button a {
  color: #2b2d42;
  text-decoration: none;
  font-size: 12px;
}
.section__cards .cards .cards__bottom .text {
  margin-left: 0;
}

.formulaire {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.toolbar {
  text-align: center;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
}

legend {
  padding: 0 1em;
  text-transform: uppercase;
}

.field {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0.5em;
}

.field label {
  width: 30%;
}

.field .value {
  width: 80%;
  margin-right: 3%;
}

.field input {
  width: 100%;
}

input:focus {
  outline: none !important;
  border-bottom: 20px solid;
  border-color: #edf2f4;
}

textarea:focus {
  outline: none !important;
  border-bottom: 4px solid;
  border-color: #edf2f4;
}

label {
  font-weight: 600;
  padding: 0;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type*=date],
select,
object,
textarea {
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.3em;
  border: 0;
  border-bottom: 2px solid rgba(43, 45, 66, 0.5);
  background-color: rgba(255, 255, 255, 0);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type*=date]:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 3px solid #E9E9E9;
}

object > option:focus {
  outline: none !important;
  border-bottom: 3px solid;
  background-color: rgba(255, 255, 255, 0);
}

select,
textarea {
  width: 100%;
}

textarea {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  min-height: 10em;
}

#query {
  resize: vertical;
}

/*////////////////// AUTOCOMPLETE //////////////////*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid #2b2d42;
  -webkit-text-fill-color: #2b2d42;
  -webkit-box-shadow: 0 0 0px 1000px rgba(29, 29, 29, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* CSS */
.button-4 {
  max-width: 200px;
  margin: 15px 0 15px 0;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #2b2d42;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.button-4 .button-4 a {
  font-size: 12px;
}
.button-4 .button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.button-4 .button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.button-4 .button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.button-4 .button-4:focus {
  outline: 1px transparent;
}
.button-4 .button-4:before {
  display: none;
}
.button-4 .button-4:-webkit-details-marker {
  display: none;
}
.button-4 > span .text {
  text-align: center;
}
.button-4 > span .text.cours-li-result,
.button-4 > span .text a {
  font-size: 12px;
  margin-top: 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.button-4 button a {
  color: #2b2d42;
  text-decoration: none;
  font-size: 12px;
}
.button-4 .text {
  margin-left: 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav-letter {
  margin-bottom: 30px;
}
.nav-letter h3 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-letter .nav-letter-ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.nav-letter .nav-letter-li {
  margin-left: 3px;
  list-style-type: none;
}
.nav-letter .nav-letter-li > a {
  color: #2b2d42;
  text-decoration: none;
}

.nav__section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.nav__section > .button-4 {
  margin: 0.5em;
}

* {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #2b2d42;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf2f4;
}
.container section {
  width: 100%;
  height: auto;
}
.container .description-cours-li {
  list-style-type: none;
}
.container h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.container h3 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.container p {
  text-align: justify;
  margin-bottom: 8px;
}
.container a {
  color: #2b2d42;
  text-decoration: none;
}
.container button a {
  color: #2b2d42;
  text-decoration: none;
  font-size: 12px;
}
.container .text {
  margin-left: 0;
}

/*First section*/
#dashboard {
  /*First section end*/
  /*Second section*/
  /*Lessons cards end*/
  /*Second section end*/
}
#dashboard .container__section--first {
  background: linear-gradient(to top right, #7c89d5, #f599a5);
}
#dashboard .section__first--masque {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
#dashboard .section__first--masque h1 {
  font-size: 5vw;
  color: #edf2f4;
}
#dashboard .section__first--masque p {
  font-size: 2.5vw;
  color: #edf2f4;
}
#dashboard .container__section--second {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#dashboard .container__section--second > h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

#allcours {
  /*Second section*/
}
#allcours .section--second {
  width: 90%;
  display: flex;
  height: auto;
  padding: 100px 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 401px) {
  .container {
    /*First section*/
    /*First section end*/
    /*Presentation start */
  }
  .container .section--first {
    background-image: url("../img/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #2b2d42;
    font-family: "Cherry Swash", cursive;
  }
  .container .first--masque > h1 {
    font-size: 68px;
    font-family: "Cherry Swash", cursive;
    font-weight: 700;
    font-style: normal;
    color: #edf2f4;
  }
  .container .first--masque p {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #edf2f4;
  }
  .container .first--masque {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #edf2f4;
  }
  .container .section--second {
    width: 90%;
    padding: 100px 0;
  }
  .container .section--second .section--article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .container .section--second .article--content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  .container .section--second .article--content .disable {
    display: flex;
  }
  .container .section--second .article--details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .section--second .article--img {
    width: 100%;
  }
  .container .section--third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 401px) {
  #aside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #aside .section--second {
    width: 60vw;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }
  #aside .section--second .resultsbyletter {
    justify-content: center;
    align-items: center;
  }
  #aside .section--second .section__cards {
    justify-content: center;
  }
  #aside .section--second .section__cards .cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    box-shadow: none;
    margin-bottom: 30px;
  }
  #aside .section--second .section__cards .card-information-cour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #aside .section--second .section__cards .description-cours-li {
    display: flex;
    padding: 0 0 1em 1em;
  }
  #aside .section--second .section__cards .description-cours-li .cours-li-result {
    display: flex;
    align-items: center;
  }
  #aside .section--second .section__cards .description-cours-li .cours-li-result > img {
    margin-bottom: 0;
  }
  #aside .section--second .article-image {
    width: 100%;
  }
  #aside .section--second .imgtwo {
    background-image: url("../img/image9.jpg");
  }
  #aside .section--second iframe {
    padding: 0 0 1em 1em;
  }
  #aside .section--second .section--second--results {
    width: 60vw;
    padding: 30vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #aside .section--second .section--second--results .card-results {
    margin: 1em 0;
    padding: 1em;
  }
}
#ordercours {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf2f4;
  font-family: "Raleway", sans-serif;
  color: #2b2d42;
}

.logo {
  font-family: "Cherry Swash", cursive;
  font-size: 1.5em;
  font-weight: 600;
  color: #edf2f4;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
