@import "utils/variables";
@import "utils/boucles";
@import "utils/mobile";
@import "utils/tablet";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/aside";
@import "layouts/login";
@import "components/burger";
@import "components/cards";
@import "components/forms";
@import "components/button";
@import "components/loader";
@import "components/navletter";
@import "components/navsection";
@import "components/loadmore";
@import "base/general";
@import "pages/dashboard";
@import "pages/allcours";
@import "pages/index";
@import "pages/singlecours";
@import "pages/ordercours";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $body-bgc;

  font-family: $body-fnt;
  color: $body-clr;
}

.logo {
  font-family: $logo-fnt;
  font-size: 1.5em;
  font-weight: 600;
  color: $white2;
  text-decoration: none;
}
