* {
  font-size: 16px;
  font-family: $body-fnt;
  color:$body-clr;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $body-bgc;
  
  section {
    width: 100%;
    height: auto;
  }
  .description-cours-li {
    list-style-type: none;
  }
  h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  h3 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    text-align: justify;
    margin-bottom: 8px;
  }
  a {
    color: $body-clr;
    text-decoration: none;
  }
  img {
    // margin-bottom: 30px;
  }
   button a {
      color: $body-clr;
      text-decoration: none;
      font-size: 12px;
    }
    .text{
      margin-left: 0;
    }
  
}