
      // Template of allcours.phtml page //

#allcours {

  /*Second section*/
  .container__section--second {
    width: 90%;
    display: flex;
    height:auto;
    
    margin-top: 15vh;
    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
}