@media (min-width: 401px) {
  .container {
    /*First section*/
    .section--first {
      background-image: url("../img/image1.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: $body-clr;
      font-family: $logo-fnt;
    }
    .first--masque > h1 {
      font-size: 68px;
      font-family: $logo-fnt;
      font-weight: 700;
      font-style: normal;
      color:$footer-clr;
    }
    .first--masque p {
      font-size: 20px;
      font-family: $body-fnt;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
      color:$footer-clr;
    }

    .first--masque {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: $white;
    }

    /*First section end*/
    /*Presentation start */
    .section--second {
      width: 90%;
      padding: 100px 0;
      
      .section--article {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
      .article--content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        padding: 2em;
        .disable{
          display:flex;
        }
      }
      .article--details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .article--img{
        width:100%;
      }
    }
    
    .section--third{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }
  }
}
