@media (min-width: 360px) {
  .container {
    /*First section*/
    .container__section--first {
      background-image: url("../img/image1.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: $white;
      font-family: $logo-fnt;
    }
    .section__first--masque > h1 {
      font-size: 68px;
      font-family: $logo-fnt;
      font-weight: 700;
      font-style: normal;
    }
    .section__first--masque p {
      font-size: 20px;
      font-family: $body-fnt;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
    }

    .section__first--masque {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: $white;
    }

    /*First section end*/
    /*Presentation start */
    .container__section--third {
      width: 90%;
      padding: 100px 0;
    }
    .section--presentation-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    .card--presentation {
      width: 40%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1em;
      .disable{
        display:flex;
      }
    }
    .presentation--details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    /* Presentation end */
  }
}
