#singlecours{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  .single-cours-container{
    width: 60vw;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .cards{
    justify-content:center;
  }
}