// Fonts Family

    $body-fnt : 'Raleway', sans-serif;
    $logo-fnt : 'Cherry Swash', cursive;

//Colors

    $white-opacity : rgba(0, 0, 0, 0.2);
    $white : #E9E9E9;
    $white2 : #F8FBF1;
    $dark-grey: #1E1F1D;
    $light-grey: #ADADAD;
    $light2x-grey: #DBDBDB;
    $light-blue: #B6D7E2ff;
    $uranian-blue: #B7E4F9ff;
    $bistre: #3C2712ff;
    $bright-navy-blue: #277AD7ff;
    $aero: #75BDEBff;

//Fonts Colors
    
    $body-clr : #1E1F1D;
    $header-a-clr : #1E1F1D;
    $section-title-clr : #E9E9E9;

//Box Shadows

    $cards-shdw: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    $header-shdw: rgba(9, 30, 66, 0.25) 0px 1px 1px, 
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
