// Fonts Family

    $body-fnt : 'Montserrat', sans-serif;
    $logo-fnt : 'Cherry Swash', cursive;

//Colors

    $white-opacity : rgba(0, 0, 0, 0.3);
    $white : #E9E9E9;
    $dark-grey: #1E1F1D;
    $light-grey: #ADADAD;
    $light2x-grey: #DBDBDB;
    $light-blue: #B6D7E2ff;
    $uranian-blue: #B7E4F9ff;
    $bistre: #3C2712ff;
    $bright-navy-blue: #277AD7ff;
    $aero: #75BDEBff;

//Fonts Colors
    
    $body-clr : #1E1F1D;
    $header-a-clr : #1E1F1D;
    $section-title-clr : #E9E9E9;

