.footer{
  width:100%;
  padding: 100px 0;
  background-color: $footer-bgc;
  .footer__header{
    margin-bottom: 30px;
    text-align:center;
    >h2{
      color:$footer-clr;
    }
  }
  .footer__main{
    margin-bottom: 30px;
    text-align:center;
    > p, i{
      color:$footer-clr;
    }
  }
}